@model List<ListarTablerosVM>
@foreach(var tablero in @Model){
    if(tablero.)
}

<h1>Lista de Tableros</h1>
@if(Model.Count>0){
    <h2>Mis Tableros</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var tablero in Model){
                <tr>
                    <td>@tablero.id</td>
                    <td>@tablero.nombre</td>
                    <td>@tablero.descripcion</td>
                    <td>
                        <a asp-action="ModificarTablero" asp-route-id="@tablero.id" class="btn btn-secondary">Modificar</a>
                        <a asp-action="EliminarTablero" asp-route-id="@tablero.id" class="btn btn-danger">Borrar</a>
                        <a asp-controller="Tareas" asp-action="AltaTarea" asp-route-id="@tablero.id" class="btn btn-primary">Crear Tarea</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}else{
    <h2 class="text-center text-muted">SIN TABLEROS</h2>
}
<div class="text-center">
    <a asp-action="AltaTablero" class="btn btn-primary">Agregar Tablero</a>
</div>