@model ModificarTareaVM
@{
    string? previousUrl = TempData["PreviousUrl"] as string;
}

<h3 class="text-center">Modificar Tarea n° @Model.id</h3>
<form asp-controller="Tareas" asp-action="Modificar" class="form">
    <input type="hidden" asp-for="id" value="@Model.id">
    <input type="hidden" asp-for="idTablero" value="@Model.idTablero">
    <div class="form-group">
        <label asp-for="nombre">Nombre</label>
        <input asp-for="nombre" value="@Model.nombre" class="form-control" required>
    </div>
    <div class="form-group">
        <label asp-for="descripcion">Descripción</label>
        <input asp-for="descripcion" value="@Model.descripcion" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="color" class="form-label">Color</label>
        <input asp-for="color" value="@Model.color" type="color" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="estado" class="form-label">Estado</label>
        <select asp-for="estado" value="@Model.estado" class="form-select">
            @foreach (var estado in Enum.GetValues(typeof(Tareas.EstadoTarea)))
            {
                <option value="@estado">@estado</option>
            }
        </select>
    </div>
    <div class=" mt-3">
        <button type="submit" class="btn btn-primary">Modificar</button>
        @if(!string.IsNullOrEmpty(previousUrl) && previousUrl.Contains("Tablero/VerTablero")){
            <a asp-controller="Tablero" asp-action="VerTablero" asp-route-id="@Model.idTablero" class="btn btn-secondary">Cancelar</a>
        }else{
            <a asp-controller="Tareas" asp-action="Index" class="btn btn-secondary">Cancelar</a>
        }
    </div>
</form>